Resource_1 RCDATA "dlls\\capicom.dll"
Resource_2 RCDATA "dlls\\instala.bat"
Resource_3 RCDATA "dlls\\libeay32.dll"
Resource_4 RCDATA "dlls\\libiconv.dll"
Resource_5 RCDATA "dlls\\libxml2.dll"
Resource_6 RCDATA "dlls\\libxmlsec.dll"
Resource_7 RCDATA "dlls\\libxslt.dll"
Resource_8 RCDATA "dlls\\msvcr120.dll"
Resource_9 RCDATA "dlls\\msxml5.dll"
Resource_10 RCDATA "dlls\\msxml5r.dll"
